AcmeManager.directory = 'https://acme-staging-v02.api.letsencrypt.org/directory'
AcmeManager.email_address = 'domains@example.com'
AcmeManager.api_key = 'xxxxxxxxxxxxxx'
AcmeManager.post_commands = [
  'sudo /etc/init.d/haproxy reload'
]
